@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root{
    --primary-bg-color:#1c2833;
    --secondary-bg-color:#212f3d;
    --txt-white:#fff;
    --primary-color:#EC7063;
    --box-shadow: 10px 10px #28b463;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    overflow: hidden;
}

a{
    color: var(--txt-white);
}

header{
    color: var(--txt-white);
    background: var(--secondary-bg-color);
    font-size: 1.2rem;
    min-height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--primary-bg-color);
    height: 80px;
}

nav ul{
    display: flex;
    list-style: none;
}


nav ul li {
    padding: 1.5rem 0.5rem ;
    margin: 0 1.4rem;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 3px;
    background: var(--primary-color);
    width: 0%;
    left: 0;
    top: 60px;
    transition: all 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

.social-icons a {
    padding: 0 1rem;
    transition: all 0.3s;
}

.social-icons a:hover {
    color: var(--primary-color);
}


.logo {
    color: var(--primary-color);
    font-size: 1rem;
}

/* navbar close*/

/* showcase start */

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
    padding: 0 10%;
}

.content-left {
    width: 70%;
}

.content-left .lead {
    font-size: 2rem;
    font-weight: 600;
}

.txt-content{
    display: flex;
    width: 100%;
}

.normal_txt{
    font-size: 2.5rem;
    width: 15%;
}

.change_txt {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 600;
    position: relative;
}

.txt-content .change_txt::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2px solid #fff;
    background: var(--secondary-bg-color);
    animation: animateTxt 5s steps(25) infinite;
}

.content-left p {
    font-size: 1rem;
    line-height: 2rem;
    margin: 1rem 0;
}

.content-left button {
    display: inline-block;
    background: transparent ;
    border: 1px solid #fff;
    color: #fff;
    padding: 1rem 2rem;
    margin: 2rem 2rem 0 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 02px;
    transition: all 0.5s;
}

.content-left button:hover {
    background: var(--primary-color);
    border: none;
    padding: 1.5rem 2.5rem;
}

.content-left button:active {
    transform: scale(0.95);
}

.content-right {
    width: 45%;
    /*box-shadow: var(--box-shadow);*/
    border-radius: 05px;
    padding-left: 15px;
    transform: translateX(300%);
    /* transform: skew(-3deg); */
    animation: imgAnimate 3s forwards;
}

.content-right img{
    display: block;
    min-height: 100%;
    width: 100%;
    padding-left: 15px;
    border-radius: 05px;
}


/* skills start */


.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-bg-color);
    color: #fff;
    width: 100%;
    padding: 0 01%;
}

.skills h2{
    font-size: 2.8rem;
    padding: 0.5rem;
    color: var(--primary-color);
}

.skills i{
    font-size: 3rem;
    cursor: pointer;
}

.skills .html{
    color: #e44f26 ;
}

.skills .css3{
    color: #1572b6;
}

.skills .js{
    color: #ffd700;
}

.skills .java{
    color: #61dafb;
}



/* skills end */

@keyframes imgAnimate {
   to{
    transform: translateX(0);
    transform: skew(-3deg);
   } 
}

@keyframes animateTxt {
    3%{
        left: 0;
    }
    30%{
        left: 100%;
    }
    80%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}

/* showcase end */

